/* -------------------GERAL------------------- */

.body{
    font-size: 62.5%;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://lh3.googleusercontent.com/p/AF1QipPAbeq77kzNitDnQD4rssOYSjd5xwYpv-ltxQh3=s680-w680-h510');
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	z-index: 0;
  }

/* ------------------- BODY ------------------  */

.container{
	align-items: center;
	max-width: 1152px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.barra__d__navegacao{
	align-self: center;
	width: 2500px; 
}

.adicionar__curso{
	max-width: 100%;
}

.adicionar__curso, .listar__curso{
	border: 7.5px solid;
	margin-bottom: 50px;
	color: var(--color-white);
	background: var(--color-gray-dark);
	border-radius: 10px;
	animation: spin 2.5s linear infinite;
	font-size: 2em;
}

.adicionar__curso .v-select .v-input__slot {
	color: var(--color-white);
}

.adicionar__curso input[type="text"],
.adicionar__curso textarea,
.adicionar__curso select {
	background-color: var(--color-white); 
	border: 1px solid var(--color-gray-light); 
	margin-bottom: 10px;
	border-radius: 10px;
}

.adicionar__curso input[type="number"]{
	max-width: 45px;
}

.adicionar__curso select {
	height: auto;
}

.v-select__selection {
	padding: 0;
	margin: 0;
}

.categoria-select .v-select__selection {
	color: var(--color-white);

}
  

  
.categoria-select .v-input__slot {
	background-color: var(--color-gray-dark);
}

.agrupamento__container {
	width: 385px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}


.agrupamento__container label {
    flex: 1;
    margin-right: 1rem;
}

.agrupamento__container input,
.agrupamento__container textarea,
.agrupamento__container v-select,
.agrupamento__container v-radio-group {
    flex: 2;
}


.titulo__container{
	animation: spin 2.5s linear infinite;
}

/* ------------------IMPORTS------------------ */

@import url(vars.css);

/* -----------------KEYFRAMES----------------- */

@keyframes spin {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: yellow;
    }
    100% {
      border-color: red;
    }
}